@charset "utf-8";
.footer {
	position: relative;
	padding: 70px 0;
	background-color: #f6f6f6;
}
.footer .phone {
	display: none;
}
.footer_wrap {
	position: relative;
	max-width: 1400px;
	margin: auto;
}
.footer_menu {
	position: relative;
	padding-bottom: 35px;
}
.footer_menu::after {
	content: '';
	position: absolute;
	bottom: 0; right: 0; left: 0;
	margin: auto;
	height: 1px;
	background: #ddd;
}
.footer_menu a {
	position: relative;
	display:inline-block;
	margin-right: 14px;
	padding-right: 14px;
	font-size: 14px;
	font-weight: bold;
	color: #444;
}
.footer_menu a:last-child {
	margin-right: 0;
	padding-right: 0;
}
.footer_menu a::after {
	content: '';
	position: absolute;
	top: 2px; bottom: 0; right: 0;
	margin: auto;
	width: 1px; height: 14px;
	background-color: #c6c6c6;
}
.footer_menu a:last-child::after {
	display: none;
}
.footer_menu a .inet {
	margin-left: 10px;
}

.footer_info {
	position:relative;
	margin-top: 35px;
	color: #666;
}
.footer_info .space {
	display: none;
}
.footer_info .ib {
	display: inline-block;
	width: 47%;
}
.footer_info dl {
	display: block;
	margin-bottom: 6px;
	line-height: 24px;
}
.footer_info dl dt {
	position: relative;
	display: inline-block;
	width: 100px;
	vertical-align: top;
	color: #888;
}
.footer_info dl dd {
	display: inline-block;
	width: calc(100% - 110px);
	word-break: keep-all;
}

.footer .copyright {
	margin-top: 18px;
	font-size: 14px;
	color: #999;
	text-transform: uppercase;
}

.footer_social {
	position:absolute;
	bottom:0; right:0;
}

.footer_social {
	position: absolute;
	top: 0; right: 0;
}
.footer_social a {
	display: inline-block;
	margin-left: 10px;
	color: #484848;
	font-size: 34px;
}
.footer_social a:first-child {
	margin-left: 0;
}

.footer .scrollTop {
	position: fixed;
	right: 6px; bottom: -50px;
	display:none;
	width: 40px; height: 40px;
	border-radius: 100%;
	background: rgba(32,32,32,0.8);
	text-align: center;
	cursor: pointer;
	z-index: 100;
	opacity:0;
	visibility:hidden;
	transition: all 0.3s;
}
.footer .scrollTop.active {
	bottom: 6px;
	display: inline-block;
	opacity:1;
	visibility:visible;
	transition: all 0.3s;
}
.footer .scrollTop i {
	font-size: 18px;
	color: #fff;
	line-height: 40px;
}
.footer .scrollTop:hover {
	background: rgba(32,32,32,0.6);
	
}

@media (max-width:1400px) {
	.footer_wrap {
		max-width: calc(100% - 30px);
	}
	.footer_social {
		top: auto;
		bottom: 0;
	}
	.footer_social a {
		font-size: 24px;
	}
}

@media (max-width: 1024px) {
	.footer {
		padding: 40px 0;
		text-align: center;
	}
	.footer_wrap {
		padding-bottom: 3px;
	}
	.footer .phone {
		display: inline-block;
		width: 179px; height: 40px;
		margin: 0 auto 40px;
		line-height: 40px;
		background: #fff;
		border-radius: 20px;
		border: 1px solid #b7b7b7;
		font-size: 15px;
		color: #444;
		text-align: center;
	}
	.footer_menu {
		padding-bottom: 20px;
		text-align: left;
	}
	.footer .phone i {
		font-size: 15px;
		margin-right: 8px;
	}
	.footer_menu a {
		margin-right: 10px;
		padding-right: 10px;
		font-size: 12px;
	}
	.footer_menu a:after {
		display: none;
	}
	.footer_menu a:last-child:after {
		display: none;
	}
	.footer_menu a .inet {
		margin-left: 5px;
		max-width: 17px;
		padding-bottom: 3px;
	}
	.footer_info {
		margin-top: 20px;
		text-align: left;
	}
	.footer_info .space {
		display: block;
		margin-top: 8px;
	}
	.footer_info .ib {
		display: block;
		width: 100%;
	}
	.footer_info dl {
		font-size: 12px;
		line-height: 1.68;
	}
	.footer_info dl dt {
		width: 100px;
		vertical-align: top;
	}
	.footer_info dl dt::after {
		content: '';
	}
	.footer_info dl dd {
		width: calc(100% - 110px);
		margin-right: 0;
		word-break: keep-all;
	}
	.footer .copyright {
		margin-top: 44px;
		margin-bottom: 5px;
		font-size: 11px;
		line-height: 1.36;
		color: #999999;
		text-align: left;
	}
	.footer_social {
		min-width: 70px;
	}
	.footer_social a {
		font-size: 28px;
	}
}
