.main2 {
	padding: 150px 0 110px;
	font-size: 0;
}
.main2 .sub_title {
	padding-bottom: 30px;
}
.main2 .tImg {
	display: none;
}
.main2_wrap {
	position: relative;
	width: 100%;
	max-width: 1000px;
	margin: 40px auto 0;
	padding: 0 100px;
}
.main2_wrap .swiper-wrapper {
	margin: auto;
}
.main2_wrap .swiper-slide {
	display: inline-block;
	margin-bottom: 40px;
	overflow: hidden;
	text-align: center;
}
.main2_wrap a {
	position: relative;
	display: inline-block;
	width: 100%; 
}
.main2_wrap a .loader {
	position: relative;
	padding-top: 56.25%;
}
.main2_wrap a .loader::after {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	background: transparent;
	transition: background 0.35s;
}
.main2_wrap a:hover .loader::after {
	background: rgba(64,136,199,0.2);
}
.main2_wrap a .name {
	margin-top: 30px;
	font-size: 20px;
	font-weight: bold;
	color: #3d3935;
}
.main2_wrap a .info {
	margin-top: 8px;
	font-size: 15px;
	letter-spacing: -0.02em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.main2_wrap a .info span {
	position: relative;
}
.main2_wrap a .info span::before {
	content: ', ';
}
.main2_wrap a .detail_view {
	position: relative;
	display: inline-block;
	width: 150px; height: 36px;
	margin-top: 14px;
	font-family: 'Titillium Web', sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #1d5799;
	letter-spacing: 0.08em;
	line-height: 36px;
	text-transform: uppercase;
	text-align: center;
}
.main2_wrap a .detail_view::after {
	content: '';
	position: absolute;
	top: 0; right: 0; bottom: 0; left: 0;
	margin: auto;
	width: 0; height: 100%;
	background: rgba(64,136,199,0.2);
	transition: width 0.35s;
}
.main2_wrap a:hover .detail_view::after {
	width: 100%;
}

.main2_wrap .swiper-button-next,
.main2_wrap .swiper-button-prev {
	top: 35%;
	width: 56px; height: 62px;
	margin-top: -39px;
	background-image: none;
	line-height: 62px;
	color: #a7a7a7;
	text-align: center;
	transition: opacity 0.5s, background 0.5s, color 0.5s;
}
.main2_wrap .swiper-button-next {
	right: 0;
}
.main2_wrap .swiper-button-prev {
	left: 0;
}
.main2_wrap .swiper-button-next i ,
.main2_wrap .swiper-button-prev i {
	font-size: 64px;
}
.main2_wrap .swiper-pagination {
	right: 0; left: 0;
	margin: auto;
}
.main2_wrap .swiper-pagination .swiper-pagination-bullet {
	margin: 0 4px;
	border-radius: 10px;
	background: #ccc;
	opacity: 1;
	transition: width 0.35s;
}
.main2_wrap .swiper-pagination .swiper-pagination-bullet-active {
	width: 46px;
	background: #1d5799;
}

.list{
	margin: auto;
	font-size: 20px;
	color: black;
	overflow: auto;
	width: 100%;
	height: 100%;
}

.lists{
	border-bottom: 1px solid #e2e5e9;
	box-shadow: 0 0.05em 0 rgba(0,0,0,0.03);
	background-color: #fff;
}

.blogview_content{
	padding: 0 20px 30px;
	margin: 34px auto 0;
	max-width: 800px;
	font-size: 16px;
	line-height: 27px;
	color: #303030;
	word-break: break-word;
}

.list .lists img{
	width:  800px !important;
	height: 1000px !important;
	border-radius: 7px;
}

.blogview_info{
	height: 37px;
	border-top: 1px solid #9199a4;
	border-bottom: 1px solid #ecf0f5;
	margin: 29px 20px 0;
}

.blogview_info .txt_date{
	font-size: 12px;
	line-height: 38px;
	color: #9199A4;
}

.blogview_info .sympathy_wrap{
	height: auto;
	padding: 0;
	float: right;
}

.blogview_info .sympathy_wrap .info_sym{
	padding: 10px 0;
	margin-left: 14px;
	line-height: 18px;
	float: left;
	font-size: 12px;
	color: #9199a4;
	vertical-align: top;
}

.blogview_info .info_sym .ico_comment {
	width: 18px;
	height: 16px;
	margin: 1px 4px 0 0;
	background-position: -40px -46px;
}

.blogview_info .info_sym .ico_heart {
	width: 18px;
	height: 15px;
	margin: 1px 2px 0 0;
	background-position: 0 -46px;
}

button {
	border: 0 none;
	background-color: transparent;
	cursor: pointer;
	outline: none;
}

.another_category_color_gray, .another_category_color_gray h4 {
	border-color: #E5E5E5 !important;
}

.another_category {
	border: 1px solid #E5E5E5;
	padding: 40px 10px 5px;
	margin: auto;
	clear: both;
	width: 50%;
	height: 50%;
}

.another_category_color_gray h4, .another_category_color_gray h4 a {
	color: #737373 !important;
}

.another_category_color_gray, .another_category_color_gray h4 {
	border-color: #E5E5E5 !important;
}

.another_category h4 {
	font-size: 12px !important;
	margin: 0 !important;
	border-bottom: 1px solid #E5E5E5 !important;
	padding: 2px 12px 6px !important;
}

.another_category_color_gray * {
	color: #909090 !important;
}

.jb-responsive-table {
	overflow-x: auto;
}

.another_category table {
	table-layout: fixed;
	border-collapse: collapse;
	width: 100% !important;
	margin-top: 10px !important;
}

.another_category table {
	margin: 0px;
}

.another_category table tbody td {
	background-color: white;
}

.another_category th {
	text-align: left;
	font-size: 12px !important;
	font-weight: normal;
	word-break: break-all;
	overflow: hidden;
	line-height: 1.5;
}

.jb-article {
	font-size: 16px;
}

.another_category td {
	text-align: right;
	width: 120px;
	font-size: 11px;
}

/*td {*/
/*	padding: 0 0 4px !important;*/
/*}*/

.reply{
	margin: auto;
	font-size: 20px;
	color: black;
	overflow: auto;
	width: 51.5%;
	height: 50%;
}

.replys{
	align-content: center;
	padding: 0 20px 0 20px ;
}

#form-commentInfo{ width: 100%; }
#comment-count{ margin-bottom: 10px; }
#comment-input{ width: 80%; height: 3.3em; }
#submit{ background-color: rgb(0, 128,255); width: 5.5em; height: 3.3em; font-size: 15px; font-weight: bold; color: aliceblue; }
#voteUp, #voteDown{ width: 3.5em; height: 1.9em; background-color: aqua; }
#comments{ margin-top: 10px; }
.eachComment{ width :100%; margin: 10px; padding: 0.5em; border-bottom: 1px solid #c1bcba; }
.eachComment .name{ font-size: 0.7em; font-weight: bold; margin-bottom: 0.3em; display: flex; justify-content: space-between; }
.eachComment .inputValue{ font-size: 0.6em; font-style: italic; }
.eachComment .time{ font-size: 0.35em; color: #c1bcba; font-style: oblique; margin-top: 0.5em; margin-bottom: 0.5em; }
.eachComment .voteDiv{ display: flex; justify-content: flex-end; }
.eachComment .deleteComment{ background-color: red; color: aliceblue; }

.ico_comm {
	display: inline-block;
	overflow: hidden;
	background: url(//t1.daumcdn.net/tistory_admin/static/mobile/m320/ico_comm3.png) no-repeat 0 0;
	text-indent: -9999px;
	vertical-align: top;
}

#form-commentInfo .tit_comment {
	margin-top: 3px;
	padding-top: 36px;
	border-top: 1px solid #e2e5e9;
	box-shadow: 0 -0.05em 0 rgba(0,0,0,0.03);
	font-weight: normal;
	font-size: 15px;
}

#form-commentInfo .tit_comment .inner_comment {
	display: block;
	margin: 0 20px;
	padding-bottom: 10px;
	border-bottom: 1px solid #9199a4;
}

#form-commentInfo .tit_comment .ico_comment {
	float: left;
	width: 18px;
	height: 16px;
	margin: 3px 6px 0 0;
	background-position: -40px -46px;
}

#form-commentInfo .num_comment {
	font-size: 14px;
	color: #EC5621;
}





.list_cmt {
	margin: 0 20px;
}
.list_cmt .item_cmt {
	position: relative;
	padding: 19px 0 16px 40px;
}
.list_cmt li:first-child {
	border-top: 0 none;
}
.list_cmt .item_cmt {
	position: relative;
	padding: 19px 0 16px 40px;
}
.list_cmt .thumb_img {
	position: absolute;
	left: 0;
	top: 20px;
	width: 30px;
	height: 30px;
	border-radius: 30px;
	background-position: -266px 0;
}
.list_cmt .thumb_img .img_thumg {
	width: 30px;
	height: 30px;
	border-radius: 30px;
}
img {
	vertical-align: top;
}
.list_cmt .cmt_info .info_append {
	display: block;
	overflow: hidden;
	margin-right: 20px;
	padding-top: 1px;
	font-weight: normal;
}
.list_cmt .info_append .link_author {
	overflow: hidden;
	float: left;
	max-width: 119px;
	font-size: 13px;
	color: #9199a4;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.list_cmt .info_append .txt_date {
	float: left;
	position: relative;
	padding: 3px 0 0 14px;
	font-size: 12px;
	line-height: 13px;
	color: #9199A4;
}
.list_cmt .cmt_info .txt_cmt {
	display: block;
	margin-top: 5px;
	font-size: 14px;
	line-height: 21px;
	color: #404040;
	word-break: break-word;
}

.swiper-container #submitButton{
	margin: 30px 750px 91px 700px;
}

.swiper-container #submitButtons{
	border: 0;
	line-height: 2.5;
	padding: 0 20px;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgba(220, 0, 0, 1);
	background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6), inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#change_text {
	margin-top: 0px;
}

@media ( max-width: 768px ) {
	.main2_wrap {
		max-width: calc(100% - 60px);
	}
}

@media ( max-width: 768px ) {
	.main2 {
		padding: 0;
		padding-bottom: 0px;
	}
	.main2 .tImg {
		display: block;
		padding-top: 56.25%;
	}
	.main3 .tImg {
		display: block;
		padding-top: 56.25%;
	}
	.main2_wrap {
		max-width: calc(100% - 15px);
		margin: 0 0 0 15px;
		padding: 0;
	}
	.main2_wrap .swiper-slide {
		width: 60vw;
		margin-bottom: 0;
	}
	.main2_wrap a {
		position: relative;
		border: 1px solid #eaeaea;
	}
	.main2_wrap a .loader .deco {
		display: none;
	}
	.main2_wrap a .name {
		margin-top: 16px;
		font-size: 16px;
	}
	.main2_wrap a .info {
		max-width: 90%;
		margin: 2px auto 16px;
		font-size: 12px;
		line-height: 16px;
		white-space: nowrap;
		text-overflow: ellipsis;
		overflow: hidden;
	}
	.main2_wrap a .info span {
		display: block;
	}
	.main2_wrap a .info span::before {
		content: '';
	}
	.main2_wrap a .detail_view {
		display: none;
	}
	.main2_wrap .swiper-button-next,
	.main2_wrap .swiper-button-prev {
		display: none;
	}
	.main2_wrap .swiper-pagination {
		display: none;
	}

	@media ( max-width: 450px ) {
		.swiper-container {
			width:300px;
			border:5px solid silver;
			border-radius:7px;
			box-shadow:0 0 20px #ccc inset;
		}

		.swiper-container #submitButton{
			margin: 30px 120px 91px 110px;
		}

		.list{
			margin: auto;
			font-size: 20px;
			color: black;
			overflow: auto;
			width: 100%;
			height: 100%;
		}

		.list .lists img{
			width: 350px !important;
			height: 500px !important;
		}

		.another_category {
			border: 0px;
			margin: 0px;
			padding: 0px;
			width: 100%;
		}

		.reply{
			margin: auto;
			font-size: 20px;
			color: black;
			overflow: auto;
			width: 100%;
			height: 100%;
		}

		.replys{
			align-content: center;
			padding: 0 20px 0 10px;
		}

		#form-commentInfo{ width: 100%; }
		#comment-count{ margin-bottom: 10px; }
		#comment-input{ width: 100%; height: 3.3em; }
		#submit{ background-color: rgb(0, 128,255); width: 6.5em; height: 3.3em; font-size: 10px; font-weight: bold; color: aliceblue; }
		#voteUp, #voteDown{ width: 3.5em; height: 1.9em; background-color: aqua; }
		#comments{
			position: relative;
			border-bottom: 1px solid #e2e5e9;
			background-color: #fff;
		}

		.eachComment{ width :100%; margin: 10px; padding: 0.5em; border-bottom: 1px solid #c1bcba; }
		.eachComment .name{ font-size: 0.7em; font-weight: bold; margin-bottom: 0.3em; display: flex; justify-content: space-between; }
		.eachComment .inputValue{ font-size: 0.6em; font-style: italic; }
		.eachComment .time{ font-size: 0.35em; color: #c1bcba; font-style: oblique; margin-top: 0.5em; margin-bottom: 0.5em; }
		.eachComment .voteDiv{ display: flex; justify-content: flex-end; }
		.eachComment .deleteComment{ background-color: red; color: aliceblue; }

	}

}


.swiper-slide {
	text-align:center;
	display:flex; /* 내용을 중앙정렬 하기위해 flex 사용 */
	align-items:center; /* 위아래 기준 중앙정렬 */
	justify-content:center; /* 좌우 기준 중앙정렬 */
}
.swiper-slide img {
	box-shadow:0 0 5px #555;
}




/*2020-12-01소스 추가*/
li{
	list-style: none;
}

.contents_inner{
	width: 1100px;
	margin: auto;
	/*padding: 150px 0 110px 200px;*/
}
.shopping_all{
	margin-bottom: 42px;
}
.title_style{
	font-size: 22px;
	margin-bottom: 35px;
	line-height: 30px;
	font-weight: bold;
	color: black;
	text-align: center;
}
.cpp_goods_list:after{
	display: block;
	content: '';
	clear: both;
	height: 0;

}

.cpp_goods_item{
	width: 320px;
	height: 320px;
	float: left;
	list-style: none;
}
.cpp_goods_img img{
	width: 320px;
	height: 320px;
}
.cpp_goods_link{
	display: block;
	position: relative;
	color: black;
	font-size: 14px;
	line-height: 20px;
}
.cpp_goods_img{
	display: block;
}
.tag-wrap{
	position: absolute;
	bottom: 10px;
	right: 10px;
}
.cpp_goods_info{
	display: block;
	height: 61px;
	padding: 20px 0 0 0;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	z-index: 3;
	opacity: 0;
	transition: opacity;
}
.cpp_goods_bg{
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	background: black;
	opacity: 0.05;
}
.cpp_goods_info_bg{
	display: block;
	width: 100%;
	height: 81px;
	position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0;
	transition: opacity;
	z-index: 2;
}

.weekely_best{
	margin-bottom: 57px;
	height: auto;
}
.basic_goods_list:after{
	display: block;
	content: '';
	height: 0;
	clear: both;
}
.goods_list{
	margin-top: 20px;
}
.basic_goods_list .goods_item{
	margin-left: 20px;
}
.goods_item{
	transition: linear;
	width: 237px;
	float: left;
	margin-bottom: 40px;
	position: relative;
}
.goods_item .img{
	height: 237px;
	position: relative;
	margin-bottom: 16px;
}
.goods_item .img .img_link{
	display: block;
	width: 100%;
	margin-bottom: 16px;
	position: relative;
}
.img img{
	width: 237px;
	height: 237px;
	display: block;
}
.goods_item .goods_item_link{
	position: relative;
	display: block;
}
.goods_item .brand{
	display: block;
	width: 100%;
	color: black;
	font-size: 14px;
	line-height: 21px;
	height: 21px;
	overflow: hidden;
	word-break: break-all;
}
.goods_item .name{
	margin-top: 1px;
	margin-bottom: 3px;
	display: block;
	width: 100%;
	color: #666;
	line-height: 18px;
	height: 36px;
	overflow: hidden;
	font-size: 12px;
	word-break: break-all;
}
.goods_item .price{
	display: block;
	width: 100%;
	color: black;
	line-height: 21px;
	font-size: 12px;
	font-weight: bold;
}
.goods_item .dc_price{
	color: #999999;
	font-weight: normal;
	padding-left: 4px;
}
.goods_item .goods_item_link .spr_ico_arrow_down{
	vertical-align: 0;
	margin: -1px 3px 0 3px;
}
.spr_ico_arrow_down{
	display: inline-block;
	width: 7px;
	height: 9px;
	background-position: 0px -64px;
	background-image: url("http://etahome.co.kr/assets/images/common/sprite-common.png");
	background-repeat: no-repeat;
}
.goods_item .icon_block{
	display: block;
	width: 100%;
	line-height: 21px;
	height: 21px;
	margin-top: 10px;
}
.spr_ico_coupon{
	display: inline-block;!important;
	width: 54px;
	height: 19px;
	background-position: 0px -644px;
}

.spr-common {
	background-image: url("http://etahome.co.kr/assets/images/common/sprite-common.png");
	background-repeat: no-repeat;
}

.pageDiv{
	text-align: center;
	margin: 0 0 .9375rem;
	font-family: 'notosanscjkkr-Regular', 'Malgun Gothic', Dotum, 돋움, 'Apple SD Gothic Neo', Helvetica, AppleGothic, Sans-serif;
	color: #282828;
	font-weight: 400;
	line-height: 1;
}

.page{
	text-align: center;
	margin: 0 0 .9375rem;
}

.page-num-list{
	display: block;
	text-align: center;
}

.page-num-item{
	display: inline-block;
	vertical-align: middle;
}

.page-num-list
.active .page-num-link{
	border: 1px solid #282828;
	color: #000;
}

.page-num-list
.page-num-link{
	position: relative;
	font-size: 0.6875rem;
}

a:hover{
	color: #999;
	text-decoration: none;
}

.page-num-link{
	display: block;
	width: 1.4375rem;
	height: 1.4375rem;
	border: 1px solid #ebebeb;
	text-align: center;
	line-height: 1.5rem;
	color: #666;
}

.page-num-item +
.page-num-item{
	margin-left: 0.25rem;
}

.page-num-left
.page-num-link{
	background: #ebebeb;
}

.page-num-left
.page-num-link:after{
	display: block;
	position: absolute;
	top: 40%;
	right: 25%;
	content: "";
	width: 5px;
	height: 5px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #666;
	-webkit-transform: rotate(
			45deg
	);
	transform: rotate(
			225deg
	);
}

.page-num-right
.page-num-link{
	background: #ebebeb;
}

.page-num-right
.page-num-link:after{
	display: block;
	position: absolute;
	top: 40%;
	right: 40%;
	content: "";
	width: 5px;
	height: 5px;
	border-width: 1px 1px 0 0;
	border-style: solid;
	border-color: #666;
	-webkit-transform: rotate(
			45deg
	);
	transform: rotate(
			45deg
	);
}

/*
.pageDiv a{
	color: #999999;
}
*/

.kakaoBtn img{
	width: 20px;
	height: 20px;
}

@media ( max-width: 450px ) {
	.contents_inner {
		width:auto;
		padding: 0px;
	}

	.basic_goods_list{
		position: relative;
	}

	.goods_list{
		position: relative;
		padding-right: 0.3125rem;
	}

	.goods_list{
		display: block;
		content: "";
		clear: both;
	}

	.goods_item{
		margin: 20px!important;
		float: left;
		width: auto;
		box-sizing: border-box;
		position: relative;
	}
	li{list-style: none}
	.img{
		display: block;
		overflow: hidden;
		position: relative;
		box-sizing: border-box;
		width: auto;
		height: 240px;
	}

	.img img{
		min-width: 260px;
		height: 237px;
		display: block;
	}
	.goods_item_link{
		margin-bottom: 0.0625rem;
		/*height: 10.0625rem;*/
		position: relative;
	}
	.brand{
		font-size: 0.75rem;
		width: 79%;
		height: 0.75rem;
		padding-bottom: 0.4375rem;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		color: #999999;
	}
	.name{
		overflow: hidden;
		margin-bottom: 0.3125rem;
		width: 100%;
		height: 2rem;
		font-size: 0.875rem;
		line-height: 1rem;
		color: black;
	}
	.price{
		font-size: 0.8125rem;
		color: black;
	}
}

h3{
	margin: 19px 0 8px;
	font-size: 14px;
	font-weight: 700;
}

.form{
	margin: auto;
	position: relative;
	width: 460px;
}
.form .box{
	display: block;
	width: 100%;
	height: 51px;
	border: solid 1px #dadada;
	padding: 10px 14px 10px 14px;
	box-sizing: border-box;
	background: #fff;
	position: relative;
}

.form .txt {
	display: block;
	position: relative;
	width: 100%;
	height: 29px;
	border: none;
	background: #fff;
	font-size: 15px;
}

#bir_wrap {
	display: table;
	width: 100%;
}

#bir_yy {
	display: table-cell;
	width: 147px;
}

#bir_mm {
	display: table-cell;
	width: 147px;
	vertical-align: middle;
}

#bir_dd {
	display: table-cell;
	width: 147px;
}

#bir_mm, #bir_dd {
	padding-left: 10px;
}

#btn_area{
	margin: 30px 150px 91px 150px;
}

#styled {
	border: 0;
	line-height: 3;
	padding: 0 40px;
	font-size: 1rem;
	text-align: center;
	color: #fff;
	text-shadow: 1px 1px 1px #000;
	border-radius: 10px;
	background-color: rgba(220, 0, 0, 1);
	background-image: linear-gradient(to top left,
	rgba(0, 0, 0, .2),
	rgba(0, 0, 0, .2) 30%,
	rgba(0, 0, 0, 0));
	box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
	inset -2px -2px 3px rgba(0, 0, 0, .6);
}

#styled:hover {
	background-color: rgba(255, 0, 0, 1);
}

#styled:active {
	box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
	inset 2px 2px 3px rgba(0, 0, 0, .6);
}

@media ( max-width: 450px ){
	.form{
		margin: auto;
		position: relative;
		width: 300px;
	}

	#btn_area{
		margin: 30px 0 91px 100px;
	}
}


table.afternoon-session {
	margin-top: 100px;
	width: 100%;
	table-layout: fixed;
}

table.afternoon-sessions {
	margin-top: 100px;
	width: 100%;
	table-layout: fixed;
}

table.afternoon-session thead tr {
	width: 100%;
}
table.afternoon-sessions thead tr {
	width: 100%;
}

table td {
	text-align: center;
}
table.afternoon-session thead tr {
	background-color: #f15023;
	color: #fff;
	text-align: center;
}
table.afternoon-sessions thead tr {
	background-color: #f15023;
	color: #fff;
	text-align: center;
}
tbody td {
	background-color: #ececec;
}
th,
td {
	padding: 1em;
	vertical-align: top;
}
@media only screen and (max-width: 650px) {
	table.afternoon-session {
		margin-top: 100px;
		width: 100%;
	}
	table.afternoon-session [data-cell-header]:before {
		content: attr(data-cell-header);
		display: block;
		position:absolute;
		top:0;
		left:0;
		width:45%;
		text-align: left;
		background: #ececec;
		padding: 0.3em 0.6em;
		color: #f15023;
		font-weight:bold;
	}
	table.afternoon-session thead {
		display: none;
	}
	table.afternoon-session td {
		position:relative;
		display: block;
		padding:0.3em 0 0.3em 50%;
		margin-bottom:1px;
	}
	table.afternoon-session td:first-of-type {
		margin-top:10px;
	}


	table.afternoon-sessions {
		margin-top: 100px;
		width: 100%;
	}
	table.afternoon-sessions [data-cell-header]:before {
		content: attr(data-cell-header);
		display: block;
		position:absolute;
		top:0;
		left:0;
		width:45%;
		text-align: left;
		background: #ececec;
		padding: 0.3em 0.6em;
		color: #f15023;
		font-weight:bold;
	}
	table.afternoon-sessions thead {
		display: none;
	}
	table.afternoon-sessions td {
		position:relative;
		display: block;
		padding:0.3em 0 0.3em 50%;
		margin-bottom:1px;
	}
	table.afternoon-sessions td:first-of-type {
		margin-top:10px;
	}

	/*2021-02-21 추가*/
	.press_edit_news{
		margin-top: 30px;
	}

	.press_edit_news_list {
		background-color: #fff;
		margin-top: 10px;
		padding-right: 20px;
		padding-left: 20px;
		padding-top: 20px;
		padding-bottom: 16px;
	}

	.press_edit_news_item {
		position: relative;
	}

	.press_edit_news_item:first-child .press_edit_news_link {
		padding-top: 0;
	}

	.press_edit_news_link {
		color: #303038;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		padding: 11px 0 10px;
		min-height: 70px;
	}

	.press_edit_news_thumb {
		position: relative;
		overflow: hidden;
		width: 106px;
		height: 70px;
		-ms-flex-negative: 0;
		flex-shrink: 0;
		border-radius: 4px;
	}

	.press_edit_news_thumb>img {
		width: 100%;
		height: auto;
		vertical-align: top;
	}

	.press_edit_news_text {
		overflow: hidden;
		padding-left: 14px;
	}

	.press_edit_news_title {
		font-size: 17px;
	}

	.press_edit_news_description{
		margin-top: 5px;
		margin-bottom: 5px;
		overflow: hidden;
		text-overflow: ellipsis;
		/*white-space: nowrap;*/
		width: 200px;
		height: 45px;
		display: block;
		font-size: 8px;
	}

	.press_edit_news_title {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
		font-size: 16px;
		font-weight: normal;
		line-height: 1.25;
		letter-spacing: -0.5px;
	}

	.press_edit_news_text .r_modify {
		display: -webkit-box;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-line-clamp: 1;
		-webkit-box-orient: vertical;
		color: #767678;
		color: var(--SUB_INFO);
		padding: 4px 60px 0 0;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		font-size: 15px;
		line-height: 1.4;
		letter-spacing: -0.5px;
	}

}
